@font-face {
  font-family: "PP Editorial New";
  src: url('/fonts/PPEditorialOld-Ultralight.otf');
}

@font-face {
  font-family: "PP NeueMontreal";
  src: url('/fonts/PPNeueMontreal-Book.otf');
  font-weight: normal;
}

@font-face {
  font-family: "PP NeueMontreal";
  src: url('/fonts/PPNeueMontreal-Medium.otf');
  font-weight: medium;
}